@charset "UTF-8";
        .image-container {
            position: relative;
            width: 100%;
            height: 100%; 
            overflow: hidden; 
        }
        .image-container img {
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
        .content-overlay {
            position: absolute;
            top: 45%;
            left:2%;
            transform: translateY(-50%);
            color: white;
            text-align: left;
            background: rgba(0, 0, 0, 0.5); 
            padding: 15px;
            border-radius: 10px;
            width: 35%; 
            max-width: 550px;
        }
